@use "theme" as c;


* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-weight: 600;
  font-family: "JetbrainsMono Nerd Font";
}

//Global Styles
.bar {
  background-color: c.$bg-main;
  color: white;
  padding: 0px 0px 0px 0px;
}

// Styles on classes (see eww.yuck for more information)

.meters, .music, .connectivity{
  background-color: c.$bg-alt;
  border-radius: 50px;
  padding: 0px 11px;
  margin: 5px 0px;
  min-height: 30px;
  font-weight: 500;
}

.metric{
  margin: 0px;
  padding: 0px;
}
.metric label{
  font-size: 14px;
}

.actioncenter{
  border: solid 2px c.$border_main;
  background-color: c.$bg-main;
  border-radius: 10px;
  padding: 10px;
}

.topcenter{
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 600;
}
.middlecenter{
  margin-top: 10px;
  min-width: 230px;
  border-radius: 20px;
  padding: 10px;
  background-color: c.$bg-alt2;
}
.bottomcenter{
  margin-top: 10px;
  min-width: 230px;
  padding: 10px;
  background-color: c.$bg-alt2;
  border-radius: 20px;
}

.pfp, .musicart {
  min-width: 80px;
  min-height: 80px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.musicartdesk {
  min-width: 10px;
  min-height: 10px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  border: 3px solid c.$border-alt;
  padding: 0px;
  padding-top: 0px;
  margin: 0px 10px;
  margin-bottom: 20px;
}

.scalecenter scale trough highlight,.scalestat scale trough highlight {
  all: unset;
  background-color: c.$content-main;
  color: c.$bg-main;
  border-radius: 8px;
}

.scalecenter scale trough,.scalestat scale trough {
  all: unset;
  background-color: c.$ply-main;
  border-radius: 50px;
  min-height: 8px;
  min-width: 225px;
  margin-right: 5px;
}
.scalecenter label,.scalestat label{
  font-size: 16px;
  color: c.$content-main;
  margin: 0px 20px 0px 0px;
}

.scalecenter scale trough,.scalestat scale trough {
 min-width: 240px;
 }

 /*.scalecenter scale trough slider, .scalestat scale trough slider {
  background-color: c.$ply-act;
  padding: 4px;
  border: 2px solid c.$ply-act;
  border-left-color: c.$content-main;
  border-radius: 50% 30% 30% 50%;
}

.scalecenter scale trough slider:active, .scalestat scale trough slider:active{
  background-color: c.$ply-hover ;
  border-color: c.$ply-hover;
  border-radius: 50% 30% 30% 50%;
}*/


.test, .testenabled{
  min-width: 80px;
  min-height: 50px;
  background-color: c.$bg-main;
  border-radius: 20px;
  font-size: 20px;
  color: c.$content-main;
  transition: 0.3s;
}

.test:hover{
  background-color: c.$content-alt;
  color: c.$bg-main;
}

.testenabled{
  background-color: c.$content-main;
  color: c.$bg-main;
}

.testenabled:hover {
  background-color: c.$content-alt;
}

.test:active, .testenabled:active{
  background-color: c.$content-act;
}

.statbutton, .statbuttondis{
  min-width: 10px;
  min-height: 10px;
  background-color: c.$bg-main;
  border-radius: 20px;
  font-size: 20px;
  color: c.$content-main;
  transition: 0.3s;
}

.musiccenter{
  border-radius: 10px ;
  border: 2px solid c.$border_main;
  background-color: c.$bg-main;
  padding: 10px 10px 5px 10px;
  color:white;
}

.desktopmusic{
  border-radius: 10px ;
  border: 2px solid c.$border_main;
  background-color: c.$bg-main;
  padding: 10px 10px 5px 10px;
  color:white;
  padding: 10px;
  padding-top: 40px;
}

.musiccontrols{
  background-color: c.$bg-alt2;
  min-width: 170px;
  padding: 5px 20px;
  margin: 3px 5px;
  border-radius: 10px;
}


.musicbutton, .playbutton, .musicbutton2, .musicbutton2dis{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 21px;
  padding: 2px 10px;
  border-radius: 12px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.playbutton {
  background-color: c.$ply-main;
  border: 3px solid c.$content-main;
}

.playbutton:hover {
  background-color: c.$ply-hover;
}
.playbutton:active{
  background-color: c.$ply-act;
}

.musicbutton:hover, .musicbutton2:hover, .musicbutton2dis:hover{
  background-color: c.$ply-main;  
}

.musicbutton:active, .musicbutton2:active, .musicbutton2dis:active{
  background-color: c.$msc-act;
}

.musicbutton2dis {
  color: rgb(172, 172, 172);
}

.musictitle{
  font-family: "JetBrainsMono Nerd Font";
  margin-top: 5px;
  font-size:15px;
  font-weight: 700;
}
.musicscale scale trough highlight {
  all: unset;
  background-color: c.$content-main;
  color: c.$content-main;
  border-radius: 10px;
  min-width: 0px;
}

.musicscale scale trough {
  all: unset;
  background-color: c.$ply-main;
  border-radius: 50px;
  min-height: 5px;
  min-width: 155px;
  margin: 0px 10px;
}
.musicscale label{
  font-size: 10px;
  font-weight: 500;
  padding: 0px;
}
.musicart{
  border: 1px solid c.$border_main;
  background-image: unset;
  margin: 0px 0px;
  padding: 0px 20px;
}

.volumewidget{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid c.$border_main;
  background-color: c.$bg-alt2;
  border-radius: 10px;
}

.volumeButton{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid c.$border_main;
  background-color: c.$bg-alt2;
  border-radius: 10px;
}

.volumewidgetsc{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 0px solid c.$border_main;
  background-color: c.$bg-alt2;
  border-radius: 10px;
}

.summary{
  font-size: 20px;
  font-weight: 700;
}

.calendar {
  background: c.$bg-alt2;
  font-size: 15px;
  padding: 2px 5px;
  border:2px solid c.$border_main ;
  border-radius: 10px;

  &.view {
    background-color: c.$bg-main;
  }

  &.button {
    background: transparent;
    border-radius: 20px;
    color: c.$content-main;

    &:disabled {
      color: c.$content-main;
    }
  }

  &.header {
    border: 0px;
    background-color: c.$bg-alt2;
    border-radius: 5px;
  }

  &.highlight {
    color: c.$bg-alt;
    padding: 5px;
  }

  &:selected {
    color: c.$bg-main;
    background: c.$content-main;
    border-radius: 5px;
  }

  &:indeterminate {
    color: c.$content-alt;
  }}

.stats {
  background-color: c.$bg-main;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
  border: 2px solid c.$border_main;
}

.activate-linux {
  color: rgba(250, 250, 250, 0.5);

  &.background {
    background: none;
  }
}

.deskclock  {
  font-size: 100px;
  color: c.$content-main;
  background-color: c.$bg-main;
  border-radius: 30px;
  padding: 0px 14px;
  text-shadow: 5px 3px 1px c.$ply-act ;
  border: 2px solid c.$border_main;
}
