@use "theme" as c;


* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-weight: 600;
  font-family: "JetbrainsMono Nerd Font";
}

//Global Styles
.bar {
  background-color: c.$bg-main;
  color: white;
  padding: 0px 0px 0px 0px;
}

// Styles on classes (see eww.yuck for more information)

.meters, .music, .connectivity{
  background-color: c.$bg-alt;
  border-radius: 50px;
  padding: 0px 11px;
  margin: 5px 0px;
  min-height: 30px;
  font-weight: 500;
}

.quick-center-content{
  border: solid 2px c.$border-alt;
  background-color: c.$bg-main;
  border-radius: 10px;
  padding: 10px;
}

.middle-center{
  margin-top: 10px;
  min-width: 230px;
  border-radius: 20px;
  padding: 8px;
  background-color: c.$bg-alt;
}
.bottom-center{
  margin-top: 10px;
  min-width: 230px;
  padding: 10px 16px;
  background-color: c.$bg-alt;
  border-radius: 20px;
}

.pfp, .musicart {
  min-width: 80px;
  min-height: 80px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.musicartdesk {
  min-width: 10px;
  min-height: 10px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  border: 3px solid c.$bg-hover-alt;
  padding: 0px;
  padding-top: 0px;
  margin: 0px 10px;
  margin-bottom: 20px;
}

.scalecenter scale trough highlight,.scalestat scale trough highlight {
  all: unset;
  background-color: c.$fg-main;
  color: c.$bg-main;
  border-radius: 8px;
}

.scalecenter scale trough,.scalestat scale trough {
  all: unset;
  background-color: c.$ply-main;
  border-radius: 50px;
  min-height: 8px;
  min-width: 225px;
  margin-right: 5px;
}
.scalecenter label,.scalestat label{
  font-size: 16px;
  color: c.$fg-main;
  margin: 0px 20px 0px 0px;
}

.scalecenter scale trough,.scalestat scale trough {
 min-width: 240px;
 }

.button-active, .button{
  min-width: 80px;
  min-height: 50px;
  background-color: c.$bg-main;
  border-radius: 20px;
  font-size: 20px;
  color: c.$fg-main;
  transition: 0.3s;
}

.button:hover, .button-active:hover {
  background-color: c.$bg-second;
  color: c.$bg-main;
}

.button-active{
  background-color: c.$fg-main;
  color: c.$bg-main;
}

.button-active:hover {
  color: c.$fg-main;
}

.statbutton, .statbuttondis{
  min-width: 10px;
  min-height: 10px;
  background-color: c.$bg-main;
  border-radius: 20px;
  font-size: 20px;
  color: c.$fg-main;
  transition: 0.3s;
}

.musiccenter{
  border-radius: 10px ;
  border: 2px solid c.$border-alt;
  background-color: c.$bg-main;
  padding: 10px 10px 5px 10px;
  color:white;
}

.desktopmusic{
  border-radius: 10px ;
  border: 2px solid c.$border-main;
  background-color: c.$bg-main;
  padding: 10px 10px 5px 10px;
  color:white;
  padding: 10px;
  padding-top: 40px;
}

.musiccontrols{
  background-color: c.$bg-alt;
  min-width: 170px;
  padding: 5px 20px;
  margin: 3px 5px;
  border-radius: 10px;
}


.musicbutton, .playbutton, .musicbutton2, .musicbutton2dis{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 21px;
  padding: 2px 10px;
  border-radius: 12px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.playbutton {
  background-color: c.$bg-second;
  border: 3px solid c.$fg-main;
}

.playbutton:hover {
  background-color: c.$ply-hover;
}
.playbutton:active{
  background-color: c.$ply-act;
}

.musicbutton:hover, .musicbutton2:hover, .musicbutton2dis:hover{
  background-color: c.$ply-main;  
}

.musicbutton:active, .musicbutton2:active, .musicbutton2dis:active{
  background-color: c.$msc-act;
}

.musicbutton2dis {
  color: rgb(172, 172, 172);
}

.musictitle{
  font-family: "JetBrainsMono Nerd Font","Fira Code";
  margin-top: 5px;
  font-size:12px;
  font-weight: 800;
}
.musicscale scale trough highlight {
  all: unset;
  background-color: c.$fg-main;
  color: c.$fg-main;
  border-radius: 10px;
  min-width: 0px;
}

.musicscale scale trough {
  all: unset;
  background-color: c.$ply-main;
  border-radius: 50px;
  min-height: 5px;
  min-width: 155px;
  margin: 0px 10px;
}
.musicscale label{
  font-size: 10px;
  font-weight: 500;
  padding: 0px;
}
.musicart{
  border: 1px solid c.$border-main;
  background-image: unset;
  margin: 0px 0px;
  padding: 0px 20px;
}

.volumewidget{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid c.$border-main;
  background-color: c.$bg-alt;
  border-radius: 10px;
}

.volumeButton{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid c.$border-main;
  background-color: c.$bg-alt;
  border-radius: 10px;
}

.volumewidgetsc{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 0px solid c.$border-main;
  background-color: c.$bg-alt;
  border-radius: 10px;
}

.summary{
  font-size: 20px;
  font-weight: 700;
}

.calendar {
  background: c.$bg-alt;
  font-size: 15px;
  padding: 2px 5px;
  border:2px solid c.$border-main ;
  border-radius: 10px;

  &.view {
    background-color: c.$bg-main;
  }

  &.button {
    background: transparent;
    border-radius: 20px;
    color: c.$fg-main;

    &:disabled {
      color: c.$fg-main;
    }
  }

  &.header {
    border: 0px;
    background-color: c.$bg-alt;
    border-radius: 5px;
  }

  &.highlight {
    color: c.$bg-alt;
    padding: 5px;
  }

  &:selected {
    color: c.$bg-main;
    background: c.$fg-main;
    border-radius: 5px;
  }

  &:indeterminate {
    color: c.$fg-main;
  }}

.stats {
  background-color: c.$bg-main;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
  border: 2px solid c.$border-main;
}

.activate-linux {
  color: rgba(250, 250, 250, 0.5);

  &.background {
    background: none;
  }
}

.deskclock  {
  font-size: 130px;
  color: c.$fg-main;
  background-color: rgba($color: #000000, $alpha: 0.1);
  border-radius: 30px;
  padding: 0px 4px;
  text-shadow: 5px 3px 1px c.$ply-act ;
  border: 0px solid c.$border-main;
}

.clock-text {
  font-size: 130px;
  color: c.$fg-main;
  padding: 0px 3px;
  text-shadow: 5px 3px 1px c.$ply-act ;
}

.OSD{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 15px 10px;
  border: 2px solid c.$border-main;
  background-color: c.$bg-alt;
  border-radius: 10px;
}
