/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Binary Harbinger
 * ----------------------------------------------------- 
*/


/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);


/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(180, 190, 254, 0.2);

/*text color for entries, views and content in general */
@define-color content_main #b4befe;
/*text color for entries that are unselected */
@define-color content_inactive #b4befe;

* {
	text-shadow: none;
	box-shadow: none;
  border: none;
  border-radius: 0;
	font-family: "Fira Code";
  font-weight: 600;
  font-size: 12.7px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
	
}

window#waybar {
  background:  transparent;
  color: @content_main;
}

tooltip {
  background: @bg_main_tooltip;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: @border_main;
}
tooltip label{
  color: @content_main;
}


#custom-os_button, #custom-yazi, #custom-browser, #custom-terminal {
  border-top: 2px solid #b4befe;
  background-color: rgba(17, 17, 27, 1);
	font-family: "JetBrainsMono Nerd Font,Ubuntu",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
	padding-left: 15px;
	padding-right: 15px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 0px;
}

#custom-yazi, #custom-browser, #custom-os_button, #custom-terminal{
	padding-right: 30px;
}

#custom-os_button {
  border-left: 2px solid #b4befe;
  border-top-left-radius: 10px;
}


#custom-os_button:hover,#custom-yazi:hover,#custom-browser:hover,#custom-terminal:hover {
	color: #d1d6f8;
}

#custom-os_button:hover, #custom-yazi:hover, #custom-browser:hover ,#custom-terminal:hover {
  background-color: rgb(46, 46, 65);
  font-size: 45px;
}

#custom-yazi,#custom-browser,#custom-terminal {
  border-radius: 0px;
  font-size: 40px;
}

#taskbar {
  border-top: 2px solid #b4befe;
  border-right: 2px solid #b4befe;
    background-color: rgba(17, 17, 27, 1);
    padding: 2px 10px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    
}

#taskbar button {
	min-width: 30px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
	margin-left: 2px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
	border-bottom: 3px solid white;
    background: rgba(96, 100, 128,0.8);
    border-radius: 8px 8px 0px 0px;
}

#taskbar button:hover {
	border-bottom: 3px solid white;
  background: @bg_hover;
	color: @content_main;
  border-radius: 8px 8px 0px 0px;
}

#custom-terminal {
  padding-right: 34px;
  padding-left: 14px;
}

#window {
  border-radius: 10px;
}
