/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Binary Harbinger
 * ----------------------------------------------------- 
*/


/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);


/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(180, 190, 254, 0.2);

/*text color for entries, views and content in general */
@define-color content_main #b4befe;
/*text color for entries that are unselected */
@define-color content_inactive #b4befe;

* {
	text-shadow: none;
	box-shadow: none;
  border: none;
  border-radius: 0;
	font-family: "Fira Code";
  font-weight: 600;
  font-size: 12.7px;	
}

window#waybar {
  background:  rgba(17, 17, 27, 0.54);
  color: @content_main;
}

tooltip {
  background: @bg_main_tooltip;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: @border_main;
}
tooltip label{
  color: @content_main;
}

#custom-os_button {
	font-family: "JetBrainsMono Nerd Font,Ubuntu",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
	padding-left: 12px;
	padding-right: 20px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-os_button:hover {
  background:  @bg_hover;
	color: @content_main;
}

#custom-swaync {	font-family: "JetBrainsMono Nerd Font";
	font-size: 1px;
	background-color: rgba(17, 17, 27, 1);
	  padding-left: 12px;
	  padding-right: 12px;
	  margin-left: 10px;
	  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
	  border: 2px solid #b4befe;
	  border-radius: 10px;
  }

#workspaces {
  color: transparent;
	margin-right: 1.5px;
	margin-left: 1.5px;
	border-radius: 20px;
	border: 2px solid #b4befe;
	background-color: rgba(17, 17, 27, 1);
	padding: 0px 20px ;
}
#workspaces button {
	border-radius: 3px;
	color: @content_inactive;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
	padding: 0px 2px;
	margin: 4px 2px;
}
#workspaces button.active {
	color: #d5d8e9;
	border-radius: 10px;
	background: rgba(96, 100, 128,0.8);
	padding: 0px 8px;
}
#workspaces button.focused {
  color: @bg_active;
}
#workspaces button.urgent {
	background:  rgba(255, 200, 0, 0.35);
	border-bottom: 3px dashed @warning_color;
	color: @warning_color;
}
#workspaces button:hover {
  background: @bg_hover;
	color: @content_main;
}

#taskbar {
}

#taskbar button {
	min-width: 30px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
	margin-left: 2px;
	margin-right: 2px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
	border-bottom: 3px solid white;
    background: @bg_active;
}

#taskbar button:hover {
	border-bottom: 3px solid white;
  background: @bg_hover;
	color: @content_main;
}

#cpu, #disk, #memory {
	padding:3px;
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#tray{
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #b4befe;
	border-radius: 10px;
	padding: 0px 10px;
	margin-right: 30px;
	background-color: rgba(17, 17, 27, 1);
  
}
#tray > .passive {
	border-bottom: none;
}
#tray > .active {
	border-bottom: 3px solid white;
}
#tray > .needs-attention {
	border-bottom: 3px solid @warning_color;
}
#tray > widget {
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#tray > widget:hover {
	background: @bg_hover;
}

#pulseaudio {
	font-family: "JetBrainsMono Nerd Font";
	padding-left: 10px;
  padding-right: 3px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
	border: 2px solid #b4befe;
	border-right: 0px;
	border-radius: 10px 0px 0px 10px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
	background-color: rgba(17, 17, 27, 1);

}

#network, #battery {
	background-color: rgba(17, 17, 27, 1);
	padding-left: 3px;
  padding-right: 3px;
  border: 2px solid #b4befe;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#network {
	padding-left: 6px;
	padding-right: 0px;
}

#network:hover, #pulseaudio:hover{
	background-color: @bg_hover;
}

#language {
	background-color: rgba(17, 17, 27, 1);
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid #b4befe;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#clock {
	background-color: rgba(17, 17, 27, 1);
  padding-right: 15px;
  padding-left: 15px;
  border: 2px solid #b4befe;
	border-left: 0px;
	border-radius: 0px 10px 10px 0px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#clock:hover {
	background: @bg_hover;
}

#battery{
	background-color: rgba(17, 17, 27, 1);
	padding-left: 8px;
	padding-right: 8px;
}

#battery:hover {
	background-color: @bg_hover;
}
#bluetooth{
	padding: 0px 10px;
	font-size: 14px;
	font-family: "Fira Code";
}

#bluetooth.disabled, #bluetooth.off{
	color: #565858;
}

#bluetooth.on, #bluetooth.connected{
	color: #6f7dd8;
}

#custom-swaync, #network, #pulseaudio{
	font-size: 20px;
	padding: 0px 8px;
}

#custom-swaync{
	color: rgb(255, 255, 255);
	padding-right: 13px; 
}

#custom-swaync:hover{
	background-color: @bg_hover;
}

#power-profiles-daemon{
	background-color: rgba(17, 17, 27, 1);
	color: rgb(104, 131, 223);
	padding: 0px 10px;
	font-size: 20px;
	border: 2px solid #b4befe;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#power-profiles-daemon:hover{
	background-color: @bg_hover;
}

#backlight {
	background-color: rgba(17, 17, 27, 1);
	padding: 0px 10px;
	border: 2px solid #b4befe;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#backlight:hover{
	background-color: @bg_hover;
}

#memory, #custom-search {
	font-family: "Symbols Nerd Font";
    background-color: rgba(17, 17, 27, 1);
    /*color: #83A598;*/
    border-radius: 16px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
	border: 2px solid #b4befe;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#custom-search:hover{
	background-color: @bg_hover;
}


#cpu {
    background-color: rgba(17, 17, 27, 1);
    /*color: #FABD2D;*/
    border-radius: 16px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
	padding: 0px 10px 0px 10px;
    font-weight: bold;
	border: 2px solid #b4befe;
	border-left: 0px;
	border-radius: 0px 10px 10px 0px;
}

#bluetooth, #network, #pulseaudio {
    font-size: 15px ; /* Simge boyutunu küçült */
}
