@import "theme.css";

window#waybar {
    background-color: transparent ;
    margin-top: 40;
}

#pulseaudio{
    border: 1px solid #b4befe;
    border-radius: 10px;
    font-size: 22px;
    margin-top: 20px;
    background-color: @bg_main;
    color: @content_main;
    padding: 5px 30px;
}