@import "theme.css";

* {
    background-image: none;
    font-size: 20px;
    font-family: "Jetbrains Mono";
}

window {
    background-color: @wlogout-bg;
}

button {
    border-radius: 0px;
    color: @fg-main;
    border-color: @border-main;
    background-color: @wlogout-button;
    outline-style: none;
    border-style: solid;
	border-width: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:hover,button:focus {
    background-color: @wlogout-hover;
    background-size: 30%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:active {
    background-color: @bg-hover;
}

#lock {
    border-top-left-radius: 15px;
    background-image: image(url("./icons/lock.png"), url("./icons/lock.png"));
}

#logout {
    border-bottom-left-radius: 15px;
    background-image: image(url("./icons/logout.png"), url("./wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"), url("./icons/suspend.png"));
}

#hibernate {
    border-top-right-radius: 15px;
    background-image: image(url("./icons/hibernate.png"), url("./icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"), url("./icons/shutdown.png"));
}

#reboot {
    border-bottom-right-radius: 15px;
    background-image: image(url("./icons/reboot.png"), url("./icons/reboot.png"));
}

#lock, #suspend,#hibernate {
    border-bottom: @border-main solid 1px;
}

#logout,#shutdown,#reboot {
    border-top: @border-main solid 1px;
}

#logout,#lock,#suspend,#shutdown{
    border-right: @border-main solid 1px;
}

#suspend,#shutdown,#hibernate,#reboot{
    border-left: @border-main solid 1px;
}
