$border-main: #C6083A;
$border-alt: #8B1A2A;

$bg-main: #515659;
$bg-alt: #878C8F;
$bg-hover: #414447;
$bg-hover-alt: #353738;
$bg-tooltip: $bg-main;
$bg-second: #464A4C;
$bg-third: $bg-alt;

$fg-main: #FFCACA;
$fg-unactive: $bg-hover;
$content-act: #C42750;

$ply-main: #847a8a;
$ply-hover: #3D4043;
$ply-act: #606568;
$msc-act: #4D5255;

$wlogout-hover: rgba(47, 50, 52, 0.541);
$wlogout-bg: rgba(81, 86, 89, 0.45);
$wlogout-button: rgba(65, 69, 71, 0.78);
